p {
background-color: blue;
font-size: larger;
font-style: normal;

    


    }

  body {
background-color: white



  }  


p {
 
    


image-resolution: 10;
image-rendering: crisp-edges;






}